<h1>Contacts app</h1>
<hr/>
<h2 class="page-header">Add Contact</h2>
<div class="container">

  <form>
    <div class="form-group">
      <label> First Name</label>
      <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required>
    </div>
    <div class="form-group">
      <label> Last Name</label>
      <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
    </div>
    <div class="form-group">
      <label> Phone Number</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="phone" required>
    </div>
    <input type="button" (click)="addContact()" class="btn btn-success" value="Add Contact">
  </form>
</div>
<hr/>
<h2>Contacts List</h2>
<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cont of contacts">
          <td> {{cont.first_name}}</td>
          <td>{{cont.last_name}}</td>
          <td>{{cont.phone}}</td>
          <td>
            <input type="button" (click)="EditContacts(cont)" class="btn btn-primary" value="Edit ">
            <input type="button" (click)="deleteContact(cont._id)" value="Delete" class="btn btn-danger">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr/>
<h2>Update Contact</h2>
<div class="container">
  <form>
    <div class="form-group">
      <label> First Name</label>
      <input type="text" class="form-control" name="first_name" [(ngModel)]="new_first_name" required>
    </div>
    <div class="form-group">
      <label> Last Name</label>
      <input type="text" class="form-control" name="last_name" [(ngModel)]="new_last_name" required>
    </div>
    <div class="form-group">
      <label> Phone Number</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="new_phone" required>
    </div>
    <input type="button" (click)="update()" class="btn btn-success" value="Update Contact">
  </form>
</div>